<!DOCTYPE html>

<html>
  <head>
    <title>Refuel</title>

    <meta charset='utf-8'>
    <script
      src='../slides.js'></script>
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
    
    
  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>
      
      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->

      <article>
        <h1>
			Refuel
		</h1>
        <h3>
			Eine cloudbasierte Tankstatistik-App
        </h3>
        <p>
			Präsentation zur Bachelor-Thesis von Timo Klostermann
          <br>
			16. Januar 2013
        </p>
      </article>
      
      <article>
		<h3>
			Übersicht
		</h3>
		<ul>
			<li>
				Motivation
			</li>
			<li>
				Tankstatistiken
			</li>
			<li>
				Verwendete Technologien
			</li>
			<li>
				Programmdemonstration
			</li>
			<li>
				Fazit
			</li>
		</ul>
      </article>

      <article>
        <h3>
			Motivation
        </h3>
        <ul>
			<li>
				Unzufrieden mit bisherigen Lösungen
			</li>
			<li>
				Zugriff auf Daten durch mehrere Geräte
			</li>
			<li>
				<p>
					Erlangung von Kenntnissen
				</p>
				<ul>
					<li>
						Android
					</li>
					<li>
						AppEngine
					</li>
			</li>
		</ul>
      </article>
	  
	  <article>
		<h3>
			Tankstatistiken
		</h3>
		<p>
			Statistiken zu:
		</p>
		<ul>
			<li>
				Verbrauch
			</li>
			<li>
				Kosten
			</li>
			<li>
				Entfernung
			</li>
			<li>
				Menge
			</li>
		</ul>
	  </article>
	  
	  <article>
		<h3>
			Verwendete Technologien
		</h3>
		<ul>
			<li>
				<p>
					Android
				</p>
				<ul>
					<li>
						API-Level 14
					</li>
					<li>
						XML für Layout und Ressourcen
					</li>
					<li>
						org.apache.http-Package für Netzwerk-Anfragen
					</li>
					<li>
						Asynchrone Aufgaben
					</li>
				</ul>
			</li>
			<li>
				<p>
					Google AppEngine
				</p>
				<ul>
					<li>
						JDO 3.0 für den Datastore
					</li>
					<li>
						Java-Servlets für Anfragen
					</li>
				</ul>
			</li>
		</ul>
	  </article>
	  
	  <article>
		<h3>
			Programmdemonstration
		</h3>
	  
		<div id="phonediv" class="phoneOuterClass" style="position: absolute; top: 100px; left:200px;" >
			<img id="phone" class="phoneInnerClass" src="../images/black.png">
		</div>
		<p class="mobilephonecontrol">
			<input type="button" id="pconn" onclick="phoneConnect()" value="verbinden" />
			<input type="button" id="pdisconn" disabled="disabled" onclick="phoneDisconnect()" value="trennen" />
		</p>
	  </article>

	  <article>
		<h3>
			Fazit
		</h3>
		<ul>
			<li>
				Erkenntnisse erlangt
			</li>
			<li>
				Zeitmanagement
			</li>
		</ul>
	  </article>
	  
	  <article>
		<h3>
			Vielen Dank für die Aufmerksamkeit
		</h3>
		<p>
			Zeit für Fragen
		</p>
	  </article>
	  
    </section>

  </body>
</html>
